.btn-box {
    background-color: #3498db;
    border: none;
    width: 20%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-box:hover {
    background-color: #2980b9;
    color: whitesmoke;
}