.blog-data {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    margin-bottom: 20px;
    height: auto;
    align-items: center;
}

.blog-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog-image {
    width: 45%;
    height: 50vh;
    padding: 30px 20px 30px 20px;
}

.blog-content {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
    padding: 15px;
}


.link-hover {
    color: #3498db;
    cursor: pointer;
    transition: all 0.3s;
}

.link-hover:hover {
    color: #2980b9;

}



@media screen and (max-width: 850px) {
    .blog-data {
        flex-direction: column;
    }

    .blog-image {
        width: 80%;
        height: 50vh;
    }
    .blog-content {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .blog-image {
        width: 85%;
    }
    .blog-content {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .blog-image {
        width: 100%;
    }
    .blog-content {
        width: 100%;
    }
}